In [41]:
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [42]:
df=pd.read_csv("New-ImmoElliza.csv")
df.head(10)

,Unnamed: 0,classified.subtype,classified.price,classified.land.surface,classified.bedroom.count,classified.atticExists,classified.outdoor.terrace.exists,classified.wellnessEquipment.hasSwimmingPool
0,0,house,1325000.0,800.0,6.0,0,1,0
1,1,house,338744.0,370.0,3.0,0,0,0
2,2,house,2950000.0,180.0,2.0,0,1,0
3,7,house,338215.0,406.0,3.0,0,0,0
4,8,house,301322.0,420.0,3.0,0,0,0
5,9,house,310210.0,344.0,3.0,0,0,0
6,10,house,342866.0,993.0,3.0,1,0,0
7,12,house,316748.0,341.0,3.0,0,0,0
8,13,house,320548.0,394.0,3.0,0,0,0
9,14,house,266885.0,341.0,3.0,0,0,0

In [43]:
# drop column
df = df.drop(['Unnamed: 0'], axis = 1)
df.head(10)

,classified.subtype,classified.price,classified.land.surface,classified.bedroom.count,classified.atticExists,classified.outdoor.terrace.exists,classified.wellnessEquipment.hasSwimmingPool
0,house,1325000.0,800.0,6.0,0,1,0
1,house,338744.0,370.0,3.0,0,0,0
2,house,2950000.0,180.0,2.0,0,1,0
3,house,338215.0,406.0,3.0,0,0,0
4,house,301322.0,420.0,3.0,0,0,0
5,house,310210.0,344.0,3.0,0,0,0
6,house,342866.0,993.0,3.0,1,0,0
7,house,316748.0,341.0,3.0,0,0,0
8,house,320548.0,394.0,3.0,0,0,0
9,house,266885.0,341.0,3.0,0,0,0

In [44]:
# Selecting independent variable
X= df.iloc[:,2:]
X

,classified.land.surface,classified.bedroom.count,classified.atticExists,classified.outdoor.terrace.exists,classified.wellnessEquipment.hasSwimmingPool
0,800.0,6.0,0,1,0
1,370.0,3.0,0,0,0
2,180.0,2.0,0,1,0
3,406.0,3.0,0,0,0
4,420.0,3.0,0,0,0
...,...,...,...,...,...
5494,361.0,3.0,0,1,0
5495,1032.0,4.0,0,0,0
5496,219.0,3.0,0,0,0
5497,238.0,3.0,1,0,0
5498,250.0,3.0,1,0,0

In [45]:
#Selecting dependent variable
y= df.iloc[:,1]
y

0       1325000.0
1        338744.0
2       2950000.0
3        338215.0
4        301322.0
          ...
5494     265000.0
5495     349000.0
5496     304900.0
5497     225000.0
5498     225000.0
Name: classified.price, Length: 5499, dtype: float64

In [46]:
# Splitting data into train and test split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)
print(X_train.shape)
print(X_test.shape)

(4399, 5)
(1100, 5)

In [47]:
print(y_train.shape)
print(y_test.shape)

(4399,)
(1100,)

In [61]:
# feature scaling:standarding the dataset

from sklearn.preprocessing import StandardScaler 

# fitting  and transforming the training dataset.

st_x= StandardScaler()  
X_train= st_x.fit_transform(X_train)

In [62]:
# fitting  and transforming the test dataset
X_test= st_x.transform(X_test)

In [63]:
from sklearn.preprocessing import MinMaxScaler #fixed import

scaler = MinMaxScaler()
X_train= scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [64]:
# Create linear regression object
regr = linear_model.LinearRegression()

In [65]:
# Train the model using the training sets
regr.fit(X_train, y_train)

LinearRegression()

In [66]:

# Make predictions using the testing set
y_pred = regr.predict(X_test)
print(y_pred)

[1236186.43098601  430599.87938545  354277.17904353 ...  226637.59750648
  434174.41838471  365876.91043031]

In [67]:
# The coefficients
print("Coefficients: \n", regr.coef_)

Coefficients:
 [8761124.99819598 5803806.45222256  -71083.54570383   74955.9648422
  734101.55877042]

In [68]:
# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))

Mean squared error: 169961805603.46

In [70]:
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Coefficient of determination: 0.33

In [71]:
print(y_test.shape)

(1100,)

In [72]:
print(X_test.shape)

(1100, 5)

In [73]:
print(y_pred.shape)

(1100,)

In [74]:
import matplotlib.pyplot as plt

# Plot outputs
plt.scatter(X_test['classified.bedroom.count'],y_pred, color="black")
#plt.plot(X_test['classified.bedroom.count'], y_pred, color="blue", linewidth=3)

#plt.xticks(())
#plt.yticks(())

plt.show()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices